extends ../layout

block content
  h1= title
  hr
  - if (articles.length)
    - each article in articles
      .article
        h3
          a(href='/articles/'+article._id, title=article.title) #{article.title}
        p= article.body

        .meta
          span.text-muted= formatDate(article.createdAt)

          - if (article.user)
            | &nbsp; - &nbsp;
            span Author &nbsp;

            - var name = article.user.profile.name ? article.user.profile.name : article.user.email

            a(href="/account/"+article.user._id)= name

          - if (article.tags)
            | &nbsp; - &nbsp;
            span Tags &nbsp;
            - each tag in article.tags.split(',')
              i.text-muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.text-muted No articles.&nbsp;
      a(href="/articles/new") create one