extends ../layout

block content
  .page-header
    h3 Profile Information
  form.form-horizontal(method='GET')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        input.form-control(type='email', name='email', id='email', value='#{req.account.email}')
    .form-group
      label.col-sm-2.control-label(for='name') Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{req.account.profile.name}')
    .form-group
      label.col-sm-2.control-label(for='gender') Gender
      .col-sm-4
        label.radio
          input(type='radio', checked=req.account.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio
          input(type='radio', checked=req.account.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
    .form-group
      label.col-sm-2.control-label(for='location') Location
      .col-sm-4
        input.form-control(type='text', name='location', id='location', value='#{req.account.profile.location}')
    .form-group
      label.col-sm-2.control-label(for='website') Website
      .col-sm-4
        input.form-control(type='text', name='website', id='website', value='#{req.account.profile.website}')
    .form-group
      label.col-sm-2.control-label(for='gravatar') Gravatar
      .col-sm-4
        img(src="#{req.account.gravatar()}", class='profile', width='100', height='100')

  form.form-horizontal(action='/account/' + req.account.id + '/contact', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    if !followed
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit' id='follow') Follow
    else
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-danger(type='submit' id='following') Following