extends ../layout

block content
  .container

    h3.text-center= title
    hr
    section.row
      .col-sm-2.col-sm-offset-2
        a.profile-picture(href='#')
          img.img-responsive.img-circle(src='#{account.gravatar()}')
      .col-sm-4
        ul.profile-info-sections
          li
            .profile-stat
              h6
                i.fa.fa-user
                | &nbsp; Username:
                span=  account.profile.name || 'unknown'
          li
            .profile-stat
              p
                i.fa.fa-envelope
                | &nbsp; Email:
                span= account.email || 'unknown'
          li
            .profile-stat
              p
                i.fa.fa-map-marker
                | &nbsp; Location:
                span= account.profile.location || 'unknown'
          li
            .profile-stat
              p
                i.fa.fa-briefcase
                | &nbsp; Website:
                span= account.profile.website || 'unknown'
          li
            .profile-stat
              p
                i.fa.fa-male
                | &nbsp; Gender:
                span= account.profile.gender || 'unknown'

        form.form-horizontal(action='/account/' + account.id + '/contact' method='POST' enctype="application/x-www-form-urlencoded")
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
          if !followed
            button.btn.btn-primary(type='submit')
              i.fa.fa-user
              |  Follow
          else
            button.btn.btn-danger(type="submit" name="_method", value="DELETE")
              i.fa.fa-user
              |  UnFollow

      .col-sm-4
        ul.follow-info
          li
            .profile-stat
              h3 #{account.contacts.followers.length}
              span
                a(href='/account/' + account.id + '/followers') Followers
          li
            .profile-stat
              h3 #{account.contacts.followings.length}
              span
                a(href='/account/' + account.id + '/followings') Followings




