extends ../layout

block content
  .page-header
    h3 Profile Information
  form.form-horizontal(method='GET')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        input.form-control(type='email', name='email', id='email', value='#{account.email}')
    .form-group
      label.col-sm-2.control-label(for='name') Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{account.profile.name}')
    .form-group
      label.col-sm-2.control-label(for='gender') Gender
      .col-sm-4
        label.radio
          input(type='radio', checked=account.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio
          input(type='radio', checked=account.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
    .form-group
      label.col-sm-2.control-label(for='location') Location
      .col-sm-4
        input.form-control(type='text', name='location', id='location', value='#{account.profile.location}')
    .form-group
      label.col-sm-2.control-label(for='website') Website
      .col-sm-4
        input.form-control(type='text', name='website', id='website', value='#{account.profile.website}')
    .form-group
      label.col-sm-2.control-label(for='gravatar') Gravatar
      .col-sm-4
        img(src="#{account.gravatar()}", class='profile', width='100', height='100')

  form.form-horizontal(action='/account/' + req.account.id + '/contact', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-offset-2.col-sm-10
        if !followed
          button.btn.btn-primary(type='submit') Follow
        else
          button.btn.btn-danger(type="submit" name="_method", value="DELETE") UnFollow

  .container-fluid
    .page-header
      h3 Followers

    .row
    - account.contacts.followers.forEach(function(follower, i) {
        .col-sm-2
          .name #{follower.profile.name}
          img(src="#{follower.gravatar()}", class='profile', width='100', height='100')
    - })

  .container-fluid
    .page-header
      h3 Followings

    .row
    - account.contacts.followings.forEach(function(following, i) {
        .col-sm-2
          .name #{following.profile.name}
          img(src="#{following.gravatar()}", class='profile', width='100', height='100')
    - })